a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
}

h1 {
    width: 20ch;
    font-family: monospace;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20) infinite alternate-reverse;
}

@keyframes typing{
    from{
        width: 0ch;
    }
}